*{
    margin:0;
    padding:0;
}
table{
    margin:0 auto;
}
table thead th{
    background: #000;
    color:#ffffff;
}
table tbody tr{
    background: #fdfcfc;
    color: #000001;
}
table tbody tr:nth-of-type(even){
    background: #cecac9;
}
table tbody tr:nth-of-type(-n+3){
    color: #dc4949;
}
input{
    margin:0 auto;
    display: block;
    width:100px;
    height:20px;
    transition: border,width .5s;
    margin-top:20px;
}
input:focus{
    width:200px;
    border:1px solid rgb(158, 197, 240);
}
.content{
    width:200px;
    height:100px;
    position: relative;
    overflow: hidden;
    background-color: red;
    margin:20px auto;
}
.sliders {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    animation: .5s slider-init linear;
}

.sliders li {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    animation: .5s slider-out linear;
    list-style: none;
}

#slider-1 {
    background-color: red;
}

#slider-2 {
    background-color: green;
}

#slider-3 {
    background-color: blue;
}

.sliders li:target {
    left: 0%;
    animation: .5s slider-in linear;
}

@keyframes slider-init {
    0% {
        left: -100%
    }
    100% {
        left: 0%;
    }
}

@keyframes slider-out {
    0% {
        left: 0%;
    }
    100% {
        left: -100%;
    }
}

@keyframes slider-in {
    0% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}
.content .btns{
    z-index: 10;
    position: absolute;
    right:0;
    bottom:0;
    display: flex;
    width:80px;
    height:25px;
}
.content .btns a{
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    width:25px;
    margin:0 1px;
    text-decoration: none;
    color:#ffffff;
    text-align: center;
}